body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100%;
  background: linear-gradient(#000000, #3B3B3B);
}

header {
  padding: 1em 0em;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

header nav {
  display: flex;
  font-size: 2em;
  font-weight: bold;
  color: #FFA10D;
  justify-content: flex-end;
}

header p {
  padding: 0em 1em;
  margin: 0em;
}

.active {
  background: linear-gradient(to bottom right, #363636, #696969);
}
