body {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 100%;
  background: linear-gradient(#C0FFFF, #FFFFFF);
}

header h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

section .row img {
  margin: 0em 0em 3em;
  padding: 2em;
  width: 300px;
  height: 300px;
}

footer {
  font-size: 2em;
  padding: 0.5em 0;
  color: #FFF;
  background: linear-gradient(to bottom right, #8F6400, #FFFFFF);
  background-size: cover;
}
