body {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 100%;
  background: #C0FFFF;
}

section .row img {
  margin: 0em 0em 3em;
  padding: 2em;
  border-radius: 30px;
}

section .row {
    border-radius: 50px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .row img {
  margin: 0 0 5px;
  width: 50px;
  height: 50px;
}
section .row{
  align: center;
  width: 100%;
}

section .container-controlbar{
  padding: 0.25em 0;
  background: #000000;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer {
  font-size: 1.5em;
  padding: 0.25em 0;
  color: #FFF;
  background: #828282;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;

}
