button {
    background-color: rgb(255,255,255,0.5);
    border: 0;
    border-radius: 1000px;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 24pt;
    color: #444;
    margin: 4px;
    cursor: pointer;
}

.col-sm-12 p {
    color: #444;
    font-size: 24pt;
}

select {
    background-color: rgb(255,255,255,0.5);
    border: 0;
    border-radius: 1000px;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 24pt;
    color: #444;
    margin: 8px;
    cursor: pointer;
}

input[type=time] {
    background-color: rgb(255,255,255,0.5);
    border: 0;
    border-radius: 1000px;
    padding: 8px 16px;
    text-align: center;
    font-size: 24pt;
    color: #444;
    margin: 4px;
    cursor: pointer;
}

.reset {
    
}