body {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 100%;
    background-image: url("images/background_concept.png");
    background-color: #cfcece;
    width: 1080px;
    height:1920px;
}
header {
    padding: 0.5em 0;
    background-size: cover;
    width: 1080px;
    height:190px;
}

header .row{
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header h3 {
    padding: 0 50px;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

section .row img {
    margin: 0em 0em 3em;
    padding: 2em;
    border-radius: 30px;
}

section .row {
    border-radius: 50px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .row img {
    margin: 0 0 5px;
    width: 100px;
    height: 100px;
}
section .row{
    align: center;
    width: 100%;
}

footer {
    font-size: 2em;
    padding: 1em 0;
    color: #FFF;
    background: #919191;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    
}
